.jumbotron {
  text-align: center;
  color: darkgray;
}

body {
  padding-top: 70px;
}

.about-me {
  text-align: center;
}

.images {
  float: left;
  width: 50%;
  height: auto;
  margin-left: 30px;
  margin-right: 30px;
  border-style: inset;
  border-color: darkgray;
  border-width: 2px;
}

.container {
  max-width: 1000px;
}

.large-front-page-elements {
  text-align: center;
}

.split-front-page-elements {
  text-align: center
}

.glyphicon {
  font-size: 3em;
  display: block;
  text-align: center;
  color: red;
}
