.jumbotron {
  text-align: center;
  color: white;
  background-image: url(../img/cosmic.jpeg);
}

.jumbotron .btn {
  margin-top: 10px;
}

body {
  padding-top: 70px;
  font-family: 'Catamaran'
}

a {
  color: #FF6347;
}

a:hover {
  color: #686868;
  text-decoration: none;
}

.about-me {
  margin-bottom: 30px;
}

.about-me-text {
  font-size: 18px;
}

.about-me h2 {
  text-align: center;
}

.images {
  float: left;
  width: 30%;
  height: auto;
  margin-left: 30px;
  margin-right: 30px;
  border-color: darkgray;
  border-width: 2px;
  padding: 20px;
}

.images {
    border-radius: 50%;
}

.container {
  max-width: 1000px;
}

.github {
  text-align: center;
  background-color: lightgray;
}

.github .row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.research {
  text-align: center;
}

.research .row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.education {
  text-align: center;
  background-color: lightgray;
}

.education .row {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;

}

.btn {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.glyphicon {
  font-size: 3em;
  display: block;
  text-align: center;
  color: #FF6347;
}

.bottom-text {
  text-align: center;
  margin-top: 10px;
}
